# Backend
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
pydantic[email]
python-dotenv

# Frontend
streamlit
requests

# AI
langgraph
langgraph-checkpoint-sqlite
openai


